@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}
header a{
    text-decoration: none;
    color: #f3f3f3;
}
li{
    list-style-type: none;
}
header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #555;
    padding: 30px 50px 30px 50px;
    position: fixed;
    z-index: 1000;
}
header .logo{
    color: #f60;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    margin-right: auto;
}
 
li{
    display: inline-block;
    margin-right: 30px;
}
li a:hover,li a:active{
    color: #f60;    
}
.call{
    border-radius: 50px;
    background-color: #f60;
    padding: 9px 25px;
    margin-left: 20px;
    margin-right: 120px;
}
.call:hover{
    background-color: rgb(235, 94, 0);
    transition: 0.5s
}
main img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 260px 100px; 
    border: 5px solid rgb(171, 171, 171);
    float: left;
    }
#Home{
    width: 100%;
    height: 750px;
    background-color: #626262;
}
.inf{
    padding-top: 340px;
}
.inf h1{
    color: #f60;
    font-size: 50px;
}
#anim{
    color: rgb(255, 0, 128);
}
i{
    margin: 5px 5px 0px 5px;
}

#Skills{
    width: 100%;
    height: 700px;
    background-color: #626262;
}
#Projects{
    width: 100%;
    height: 700px;
    background-color: #626262;
}
#About{
    width: 100%;
    height: 1000px;
    background-color: #626262;
}
.about{
    padding-top: 100px;
    height: 200px;
}
.about h1{
    color: #f60;
    padding-left: 40px;
    font-size: 50px;
}
.about p{
    color:#bcbcbc;
    padding-left: 40px;
    font-size: 16px;
    margin-top: 10px;
}
.mes{
    margin-left: 700px;
    width: 500px;
    height: 400px;
    border: 6px solid #f60;
    border-radius: 30px;
}
.box{
    margin-top: 30px;
    margin-left: 90px;
}
.box h1{
    color: #f60;
    font-size: 50px;
}
input{
    width: 300px;
    height: 15px;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}
.mesbox{
    width: 300px;
    height: 50px;
}
.box button{
    padding: 5px 30px 5px 30px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background: #f60;
    margin: 20px 0px 0px 110px;
    font-size: 15px;
}